# Virtual environment
venv/

# API keys
ORS_API_KEY
OPS_API_KEY

# Python cache
__pycache__/
*.pyc
*.pyo

# Flask debug
*.log

# Large data files
xlookup transport mode table.csv
naptan database_GB_2026.csv
490stops.csv

# OS files
.DS_Store
Thumbs.db